body{
    box-sizing: border-box;
    margin: 0;
    color: var(--main-color);
    font-family: 'Kanit', sans-serif;
    background-color: var(--bg-color);
}
:root{
    --main-color:#272829;
    --secondary-color:#61677A;
    --tertiary-color:#D8D9DA;
    --text-color:#D8D9DA;
    --bg-color:#FFF6E0;
}
.top-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: var(--main-color);
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    color: var(--tertiary-color);
    z-index: 10;
    /* box-shadow: 1px 1px 1px 1px rgb(62, 51, 51); */
}
.select-code{
    color: var(--tertiary-color);
    background-color: transparent;
    border: none;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.select-code option{
    height: 10px;
    font-size: 14px;
    color: var(--secondary-color);
}
.select-code option:checked{
    background-color: white;
}
.select-code:focus{
    outline:none
}
.top-header h1{
    font-size: 23px;
}

main {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
 
    
}

main .container {
    font-size: 29px;
    font-weight: 500;
}
footer{
    position: absolute;
    bottom: 12px;
 width: 100%;
    
}
footer div{
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
.container button{
    max-width: 100px;
    cursor: pointer;
    padding: 5px 13px;
    border: 3px solid var(--main-color);
    border-radius: 10px;
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    background-color: transparent;

}
.container button:active{

        transform: scale(0.95); /* Riduci leggermente le dimensioni del pulsante */
 
}
.container div.color-code{
    background-color: var(--main-color);
    color: var(--tertiary-color);
    padding: 13px 20px 12px 13px;
    min-width: 600px;
    max-width: 600px;
    border-radius: 10px;
    height: 50px;
    margin: 30px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
@media  screen and (max-width:600px) {
    .container div.color-code{
        background-color: var(--main-color);
        color: var(--tertiary-color);
        padding: 10px 10px 15px 10px;
        min-width: 100px;
        max-width: 300px;
        flex-direction: column;
        border-radius: 10px;
        height: 140px;
        margin: 30px auto
        ;
        text-align: center;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 0%;
    }
}
.container span{
    text-align: center;
    
    min-width: 100px;

}
#bg-color{
    color: #D8D9DA;
}

.action{
display: flex;
justify-content: center;
gap: 15px;

}
.action button:nth-child(2){
border: none;
display: flex;
justify-content: center;
align-items: center;
}
.bg-header{

font-size: 30px;
font-weight: 500;
}


.copy-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* Aggiunta dell'animazione quando il pulsante viene cliccato */
 .copy-button:active {
    animation: clic 0.2s ease-out; /* Applica l'animazione "clic" */
    background-color: #0056b3; /* Cambia il colore del pulsante durante l'animazione */
  }
@keyframes clic {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
